{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-promise-to-bluebird",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "src/test"
          ]
        }]
      ]
    },
  }
}
